html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
 
body {
  background-color: #524f4f;
  
  overflow: auto;
  max-width: 1900px;
  
}
 table {
  table-layout: fixed;
      border-collapse:collapse;
      
 }
 .tg td:hover {
  background-color: #ffffff ;
}
.tg th:hover {
  background-color: #ffffff ;
}
.tg  {border-collapse:separate;border-spacing:1px;table-layout: fixed}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black ; width: 85px;  height: 60px;   }
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:rgb(255, 255, 255); width: 85px;  height: 60px }
.tg .tg-uxn0{background-color:#999903;border-color:#ffffff;text-align:left;vertical-align:top; width: 85px;  height: 60px; }
.tg .tg-goox{background-color:#ffffc7;color:#333333;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-4rhe{background-color:#96fffb;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-mkj1{background-color:#524f4f;color:#524f4f;border-color:#524f4f;text-align:left;vertical-align:top}
.tg .tg-in6g{background-color:#c54cc1;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-tjcd{background-color:#524f4f;color:#524f4f;border-color:#524f4f;text-align:left;vertical-align:top}
.tg .tg-vr3j{background-color:#ea1616;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-oxob{background-color:#ffce93;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-mrnn{background-color:#ffffc7;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-qtbu{background-color:#656565;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-8foh{background-color:#ffccc9;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-mdtf{background-color:#cc608b;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-hvao{background-color:#c0c0c0;border-color:#ffffff;text-align:left;vertical-align:top}
.periodic {
  position: relative;
  height: 200px;
  margin-right: -1px;
  text-shadow: none;
}

.periodic-row {
  clear: both;
	  height: 10%;
}

.cell {
  float: left;
  position: relative;
  width: 5.55%;
  height: 100%;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.05);
  text-align: center;
  cursor: default;
  pointer-events: none;
  .transition(all 200ms ease);
  
  background-color: rgba(0, 128, 128, 0.6);
}

.cell:hover .element {
  border-color: rgba(0,0,0,0.1);
  .transform(scale(3,3));
  z-index: 1;
  
  background-color: rgba(0, 128, 128, 0.9);
}

.at_num,
.at_details {
  position: absolute;
  font-size: 4px;
  color: rgba(255,255,255,0.5);
  opacity: 0;
}

.at_num {
  top: 4px;
  right: 5px;
}

.symbol {
  position: center;
 
}
h1, h2 {
  font-family: 'Faster One', cursive;
}
 
/* header styles */
 
h1 {
  font-size: 4rem;
  text-align: center;
}
 
header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
 
/* section styles */
 
section article {
  width: 33%;
  float: left;
}
 
section p {
  margin: 5px 0;
}
 
section ul {
  margin-top: 0;
}
 
h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}
.element-symbol {
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
	text-align: center;
}
.element-name {
    font-size: 10px;
    font-weight: 50;
    position: relative;
    color: black;
    text-align: center;
}
.element-num {
    font-size: 11px;
    font-weight: 100;
	position: relative;
  right:1px;
  bottom:50px;
			
}
.info{
  background-color: #ffffff;
  border-style: solid;
  background-size:300px 100px;
  font-size: 2rem;
}
.title{
  background-color: #ffffff;
   background-size:300px 100px;
   border-color: #ffffff;
}
.title-font{
  font-size: 2rem;
  border-color: #ffffff;
}
.element-info {
  font-size: 2rem;
   text-align: center;
   font-family: 'Big Shoulders Text' ;
}